* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /*efecto de scroll*/
}

:root {
  --clr-dorado: #d4c19c;
}

.container {
  width: 100%;
}

/* /////////////////// banner principal /////////////// */
.banner-1 {
  background: #444 url(img/cuidad3.png) center center no-repeat fixed;
  background-size: cover; /*especifica el tamaño de la imagen de fondo*/
  /* "cover" escala la imagen al mayor tamaño posible sin recortarla ni estirarla */
  position: relative;
  /*distancia del banner de la parte baja*/
  margin-bottom: -5px;
}
.capa-banner {
  padding: 100px 0; /*tamaño de la mascara */
  background: rgba(0, 0, 0, 0.4); /*color de la mascara*/
}

.titulo-1 {
  text-align: center;
  color: rgba(250, 250, 250, 0.9);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 10px; /*espacio entre cada palabra*/
  line-height: 70px; /*establece la altura de cada línea que forma el contenido de texto*/
  font-style: normal; /*estilo de la fuente normal*/
  font-weight: 100; /*grosor de las letras*/
}

em {
  font-family: "EB Garamond", serif;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 5px; /*espacio entre cada palabra*/
  display: block;
  font-style: normal; /*estilo de la fuente normal*/
  padding-top: 15px;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.2); /*sombreado de las letras*/
  -webkit-perspective: 1000;
  perspective: 1000;
}

em::before,
em::after {
  content: "☣"; /*§ ☣ ☽ ☾ ☢ ♰*/
  display: inline-block;
  opacity: 0.7;
  margin: 0 16px;
  font-size: 7vw;
  display: inline-block; /*bloque en linea permite establecer una anchura y altura en el elemento */
  -webkit-animation: rotateIn 11s cubic-bezier(0, 0, 0.58, 1) infinite; /*tiempo de transicion de la animacion */
  animation: rotateIn 11s cubic-bezier(0, 0, 0.58, 1) infinite; /*tiempo de transicion de la animacion */
}

/* animacion de letra A del banner  */
.titulo-1 em span {
  display: inline-block; /*bloque en linea permite establecer una anchura y altura en el elemento */
  -webkit-animation: lightSpeedInRight 4s cubic-bezier(0, 0, 0.58, 1) infinite; /*tiempo de transicion de la animacion lightSpeedInRight*/
  animation: lightSpeedInRight 4s cubic-bezier(0, 0, 0.58, 1) infinite; /*tiempo de transicion de la animacion */
  color: #fff;
}
.titulo-1 em span:hover {
  -webkit-animation: hinge 2s cubic-bezier(0, 0, 0.58, 1) infinite; /*tiempo de transicion de la animacion lightSpeedInRight*/
  animation: hinge 2s cubic-bezier(0, 0, 0.58, 1) infinite; /*tiempo de transicion de la animacion */
}

/* tamaño de las letras cambian al ser resposivo */
em {
  font-size: 5vw; /*tamaño resposivo para letras */
  padding-top: 0;
}
/* h1.titulo-1 {
  font-size: 25px;
  margin-top: 5vh;
} */

hr {
  /*barra*/
  height: 5px; /*ancho*/
  width: 100px; /*largo*/
  /* background: #4dff03; */
  border: 0;
  background: red;
  margin: 0 auto; /* se centra el <hr>*/
  margin-bottom: 40px; /*margen de bajo del <hr>*/
}
/* /////////////////// menu ///////////////////////////// */
.menu {
  background: black;
  height: 75px;
  width: 99vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #fff; */
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  margin-bottom: 1px;
  position: sticky; /*para que el menu sea pegajoso*/
  top: 0;
  z-index: 1200; /*para que el modal sea el unico */
}

.logo {
  color: #fff;
  font-size: 35px;
  padding: 0 70px;
  /* font-weight: bold; */
}

.menu-items {
  display: flex;
  list-style: none;
  margin-right: 30px;
}

.menu-items li {
  border-radius: 3px;
  margin: 0 5px;
}

.menu-items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: #fff;
  transition: 0.4s;
}

.menu-items li:hover,
li.active {
  background: rgba(145, 2, 240, 0.829);
  animation: Barra-6color 10s linear infinite alternate both; /*multicolor en efecto hover*/
  transition: 0.4s;
}

.btn-menu {
  margin-right: 30px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: none;
}

ul.show {
  top: 65px;
}

@media screen and (max-width: 952px) {
  .logo {
    font-size: 30px;
    padding-left: 35px;
  }
  .menu-items li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 858px) {
  .menu {
    height: 65px;
  }

  .btn-menu {
    display: inline-flex;
  }

  .menu-items {
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background: #161616;
    top: -100vh;
    text-align: center;
    transition: all 0.4s;
    flex-direction: column;
  }

  .menu-items li {
    margin: 30px 0 0 0;
    line-height: 30px;
  }

  .menu-items li:hover {
    background: none;
  }
  .menu-items li a {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
  }
  .menu-items li a:hover {
    /* color: #e9183b; */
    color: #fff;
  }
  .logo {
    font-size: 25px;
    padding-left: 35px;
  }
}
/* /// para que se adapte el menu en pantalla orizontal */
@media screen and (max-width: 858px) and (orientation: landscape) {
  .menu-items li {
    margin: 5px 0 0 0;
  }
  .menu-items {
    overflow: scroll;
    height: cal(100% - 65px);
  }
}

@keyframes Barra-6color {
  0% {
    background: #4dff03;
  }
  20% {
    background: #0804f7;
  }
  40% {
    background: #ea2222;
  }
}

/* //////////////// quien soy  /////////////////7 */

.quien-soy {
  width: 60%;
  height: 20%;
  max-width: 1000px;
  margin: 20px auto;
  position: relative;
  background: #444 url(img/cuidad3.png) fixed;
  background-size: cover; /*especifica el tamaño de la imagen de fondo*/
  display: flex;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--clr-dorado);
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.7);
}

.img-quien {
  width: 100%;
  height: 30%;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  border-radius: 12px;
}

.cuadro-text {
  width: 70%;
  position: absolute;
  font-size: 1.5vw;
  border: 4px solid var(--clr-dorado);
  padding: 10px;
  color: #fff;
  background: rgba(82, 82, 82, 0.315); /*color de la mascara*/
}

.titulo-quien {
  text-align: center;
}

@media (max-width: 690px) {
  .quien-soy {
    width: 98%;
    height: auto;
  }
  .cuadro-text {
    width: 95%;
    height: auto;
    font-size: 20px;
  }
}

/* //////////////// benner estrellas ///////////////////// */
.banner-estrellas {
  display: flex;
  justify-content: center;
}

.estrella {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background: #444 url(img/cuidad3.png) center center no-repeat fixed;
  background-size: cover;
  width: 13%;
  margin: 10px;
}

.estrella div {
  padding: 50px 50px; /* tamaño del color */
  background: rgba(0, 0, 0, 0.3);
}

/* /////////////// banner proyectos ////////////////////// */

.proyecto {
  width: 99%;
  height: auto;
  margin: 20px auto;
  background: #444 url(img/ciudad.jpg) center center fixed;
  position: relative;
  border-radius: 12px;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.7);
}

.banner-proyecto {
  background: #444 url(img/muronegro.jpg) center center fixed;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.capa-proyecto {
  padding: 100px;
  background: rgba(0, 0, 0, 0.5);
}

.tex-proyecto {
  text-align: center;
  font-size: 20px;
  width: 40%;
  height: auto;
  color: #fff;
  border: 3px solid var(--clr-dorado);
  position: absolute;
  bottom: 30%;
  right: 30%;
  padding: 12px;
  background: rgba(53, 53, 53, 0.705);
}

/* ++++++++++++++++++++++  ojos y gato +++++++++++++++++++++++++ */

.caja-gato {
  background: #444 url(img/binario2.jpg) center center fixed;
  background-size: cover;
}

.banner-gato {
  width: 100%;
  background: #444 url(img/frores.jpg) center center no-repeat fixed;
  background-size: cover;
  clip-path: polygon(
    0% 15%,
    15% 15%,
    15% 0%,
    85% 0%,
    85% 15%,
    100% 15%,
    100% 85%,
    85% 85%,
    85% 100%,
    15% 100%,
    15% 85%,
    0% 85%
  );
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.7);
}
.capa-gato {
  padding: 110px 0;
  background: rgba(0, 0, 0, 0.2);
}

.box-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; /*centra el contenido de la caja*/
  align-items: center;
}

/* ojos */
.eye {
  position: relative;
  display: inline-block;
  margin: 11px; /* distacia entre los ojos */
  overflow: hidden;
  top: 15px;
  left: -1px;
  background-color: yellow; /*color de ojos*/
  width: 65px;
  height: 65px;
  top: 25px; /*bajamos un poco para que encaje en la mascara gato*/
}

.eye-inside {
  width: 20px; /*tamaño de las pupilar */
  height: 20px;
  position: absolute;
  background-color: black; /*color de pupilas*/
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.eye-flipped {
  transform: scaleX(-1);
}

.img-gato {
  width: 226px;
  height: 250px;
  position: absolute;
}

/* /////////////////////// contenido de proyectos tarjetas //////////////// */

.caja-proyectos {
  background: #444 url(img/ciudad.jpg) center center fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0;
  flex-wrap: wrap;
  width: 95%;
  height: auto;
  margin: 10px 20px 40px 20px;
  border: 5px solid rgb(202, 2, 2);
  border-radius: 12px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.7);
}

.container .box {
  position: relative;
  width: 320px; /*tamaño de los cajas*/
  height: 400px;
  color: #fff;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 30px;
  transition: 0.5s;
}

.container .box:hover {
  transform: translateY(-20px);
}

.container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}

.container .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  filter: blur(30px);
}

.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.container .box:nth-child(3)::before,
.container .box:nth-child(3)::after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container .box:nth-child(4)::before,
.container .box:nth-child(4)::after {
  background: linear-gradient(315deg, #0307ff, #eeff00);
}

.container .box span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.container .box .span3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #444 url(img/luz.png) center center fixed;
  background-position: 50% 50%;
  pointer-events: none;
}

.container .box .span2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgb(10, 10, 10) url(img/veterinaria1.png) center center no-repeat
    fixed;
  background-position: 50% 50%;
  pointer-events: none;
}

.container .box .span1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #444 url(img/exa.png) center center fixed;
  background-position: 50% 50%;
  pointer-events: none;
}

.container .box .span4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #444 url(img/plom.png) center center fixed;
  background-position: 50% 50%;
  pointer-events: none;
}

.container .box .content {
  position: relative;
  z-index: 10;
  padding: 20px 40px;
}

.conatiner .box .content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.content p {
  background: rgba(30, 30, 31, 0.849);
  text-align: justify;
  padding: 10px;
}
.content h2 {
  /* background: rgba(90, 3, 231, 0.849); */
  background: rgba(30, 30, 31, 0.849);
  text-align: center;
}

.conatiner .box .content p {
  font-size: 1.1em;
  /* color: #fff; */
  color: #d4c19c;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .box .content a {
  display: inline-block;
  font-size: 1.1em;
  color: #fff;
  /* background: rgba(0, 0, 0, 0.3); */
  background: rgba(90, 3, 231, 0.849);
  padding: 10px;
  text-decoration: none;
  font-weight: 700;
  position: absolute;
  left: 35%;
  top: 100%;
}

/* /////// boton caja proyecto  */
.boton_caja:before {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  left: 0;
  bottom: 0;
  position: absolute;
  transition: all 0.3s;
  left: 0;
}

.boton_caja:hover::before {
  width: 100%;
}

/* +++++++++++++++++ ventana modal +++++++++++++++++++++++++++++ */

.container-all {
  position: fixed;
  bottom: 0;
  z-index: 1200; /*para que el modal sea el unico */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 50px;
  visibility: hidden;
  opacity: 0;
  transition: all 600ms;
}

.container-all:target {
  background: rgba(0, 0, 0, 0.8);
  visibility: visible;
  opacity: 1;
}

.container-all:target .popup {
  top: 50%;
  left: 50%;
  transform: rotate(0deg) translate(-50%, -50%);
  visibility: visible;
}

.popup {
  width: 100%;
  max-width: 900px;
  height: 500px;
  position: relative;
  display: flex;
  background: white;
  visibility: hidden;
  top: -80%;
  left: -80%;
  transform: rotate(90deg) translate(-150%, 230%);
  transition: all 600ms;
}

.imgpu {
  width: 40%;
  background-image: url(./img/exa.png);
  background-size: cover; /*para que se adapte la imagen*/
  background-position: center;
}

.container-text {
  width: 60%;
  padding: 50px;
  overflow-y: auto; /*para que aparesca la barra del escrol*/
}

.container-text .letra1 {
  font-size: 40px;
}

.container-text .letra2 {
  margin-top: 20px;
  font-size: 16px;
  text-align: justify;
}

.btn-close-popup {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -30px;
  top: -30px;
  padding: 30px;
  background: black;
  color: white;
  border-radius: 50%;
  line-height: 3px;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .container-all {
    width: 95%;
    height: 90%;
    margin: 50px auto;
  }
  .popup {
    flex-direction: column;
    height: 100%;
    max-height: 800px;
  }

  .imgpu {
    width: 85%;
    height: 40%;
  }
  .container-text {
    margin-left: 12px;
    width: 95%;
    height: 52%;
    padding: 18px;
  }
  .container-text h1 {
    font-size: 20px;
  }
  .container-text p {
    font-size: 12px;
  }
}

/*---------- efecto de los cuadors ----------*/
.container .span1:hover,
.container .span2:hover,
.container .span3:hover,
.container .span4:hover {
  display: inline-block;
  -webkit-animation: swing 1s cubic-bezier(0, 0, 0.58, 1) infinite;
  animation: swing 1s cubic-bezier(0, 0, 0.58, 1) infinite;
}

/* ++++++++++++++ banner habilidades +++++++++++++++++++++*/
.habilidades {
  background: linear-gradient(315deg, #0307ff, #ff00ff);
  margin-bottom: 7px;
}
.caja-habilidades {
  padding: 20px 0 20px 0;
  text-align: center;
}

.caja-habilidades h1 {
  color: rgba(250, 250, 250, 0.9);
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 6px; /*espacio entre cada palabra*/
  line-height: 50px; /*establece la altura de cada línea que forma el contenido de texto*/
  font-style: normal; /*estilo de la fuente normal*/
  font-weight: 100; /*grosor de las letras*/
}

/* ///////////////// footer //////////////////////// */
.footer-banner {
  background: #444 url(img/retro.gif) center center fixed;
  background-size: cover;
  width: 98%;
  margin: 0 12px 12px 12px;
  border-radius: 12px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

.capa-footer {
  padding: 100px 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.text-contacto {
  font-size: 2rem;
  padding: 5px 0 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
  font-style: oblique;
}

.formulario-caja {
  margin: 50px auto;
  width: 60%;
  min-height: 80px;
  margin: auto;
  padding: 15px 0 10px 10px;

  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  border: 3px solid #892cdc;
}

.formulario-caja input[type="text"],
.formulario-caja input[type="email"] {
  height: 25px;
  width: 48%;
  margin-bottom: 20px;
  border: 1px solid #666666;
  padding-left: 5px;
}

textarea {
  width: 98%;
  height: 20%;
  font-size: 15px;
}

.boton-enviar {
  width: 200px;
  height: 50px;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  position: relative;
  color: white;
  z-index: 0;
  border: 1px solid #892cdc;
  background: black;
  overflow: hidden;
  margin-top: 5px;
  /* margin: 0 0 0 35%; */
  font-family: "Roboto", sans-serif;
  letter-spacing: 6px; /*espacio entre cada palabra*/
  line-height: 50px; /*establece la altura de cada línea que forma el contenido de texto*/
  font-style: normal; /*estilo de la fuente normal*/
  font-weight: 100; /*grosor de las letras*/
}

.boton-enviar:hover::before {
  top: 0px;
  border-radius: 0;
}

.boton-enviar::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #892cdc;
  border-radius: 50% 50% 0% 0;
  z-index: -1;
  transition: all 0.5s;
}

@media (max-width: 908px) {
  .formulario-caja {
    width: 94%;
    height: 50%;
  }
}

/* /////////////////// banner final ////////////////// */
.banner-final {
  background: #444 url(img/ciudad.jpg) center center no-repeat fixed;
  background-size: cover;
}

.final-capa {
  padding: 50px 0;
  background: rgba(0, 0, 0, 0.7);
}
/* ////////////////////////////////////////// */
